<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                    [disabled]="saving"></button>
            </div>
            <div class="modal-body">
                <hr>
            </div>
            <div>
                <h3 style="text-align:center ;">Visitor Details</h3>
            </div>
            <div class="modal-body">
                <hr>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h4>{{ l('FullName') }} :</h4>
                        {{ item.appointment.title + ' ' + item.appointment.fullName }}
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('IdentityCard') }} :</h6>
                        {{ item.appointment.identityCard }}
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('PhoneNo') }} :</h6>
                        {{ item.appointment.phoneNo }}
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Email') }} :</h6>
                        {{ item.appointment.email }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <hr>
            </div>
            <div>
                <h3 style="text-align:center ;">Visitor Details</h3>
            </div>
            <div class="modal-body">
                <hr>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('AppDateTime') }} :</h6>
                        {{ item.appointment.appDateTime }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Tower') }} :</h6>
                        {{ item.appointment.tower }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('CompanyName') }} :</h6>
                        {{ item.appointment.companyName }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Departmment') }} :</h6>
                        {{ item.appointment.department }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Level') }} :</h6>
                        {{ item.appointment.level }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h4>{{ l('OfficerToMeet') }} :</h4>
                        {{ item.appointment.officerToMeet }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('PurposeOfVisit') }} :</h6>
                        {{ item.appointment.purposeOfVisit }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('RegDateTime') }} :</h6>
                        {{ item.appointment.regDateTime }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Picture') }} :</h6>
                        <img [src]="image">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('AppRefNo') }} :</h6>
                        {{ item.appointment.appRefNo}}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Status') }} :</h6>
                        {{ l('Enum:StatusType:' + item.appointment.status) }}
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="!isStatusRegistered()">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('PassNumber') }} :</h6>
                        {{ item.appointment.passNumber}}
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="!isStatusRegistered()">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('checkInDateTime') }} :</h6>
                        {{ item.appointment.checkInDateTime}}
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="isStatusOut()">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('checkOutDateTime') }} :</h6>
                        {{ item.appointment.checkOutDateTime}}
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="isStatusCancel()">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('cancelDateTime') }} :</h6>
                        {{ item.appointment.cancelDateTime}}
                    </div>
                </div>
            </div>
            <div>
                <div class="modal-footer">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div *ngIf="isStatusRegistered()" style="align-self: flex-start;">
                            <button type="button" class="btn btn-light-danger" (click)="cancelAppointment()">
                                {{ l('Cancel') }}
                            </button>
                        </div>
                        <div *ngIf="isStatusRegistered()">
                            <button type="button" class="btn btn-primary blue"
                                (click)="checkIn.show(item.appointment.id)">
                                {{ l('CheckIn') }}
                            </button>
                        </div>
                        <div *ngIf="isStatusIn()">
                            <button type="button" class="btn btn-primary blue"
                                (click)="change_Status_Register_To_Out()">
                                {{ l('CheckOut') }}
                            </button>
                        </div>
                        <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                            {{ l('Close') }}
                        </button>
                    </div>
                </div>
            </div>
            <CheckIn #checkIn></CheckIn>
        </div>
    </div>