<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Appointments' | localize" [description]="'AppointmentsHeaderInfo' | localize">
            <div role="actions">
                <button *ngIf="isGranted('Pages.Appointments.Create')" (click)="createAppointment()"
                    class="btn btn-primary blue">
                    <i class="fa fa-plus"></i>
                    {{ l('CreateNewAppointment') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="my-3">
                                        <div class="input-group mb-3">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus type="text"
                                                class="form-control" [placeholder]="l('SearchWithThreeDot')" />
                                            <button class="btn btn-primary" type="submit" (click)="getAppointments()">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12"></div>

                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="FullNameFilter">{{ l('FullName') }}</label>
                                        <input type="text" class="form-control" id="FullNameFilter"
                                            name="fullNameFilter" [(ngModel)]="fullNameFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="IdentityCardFilter">{{ l('IdentityCard') }}</label>
                                        <input type="text" class="form-control" id="IdentityCardFilter"
                                            name="identityCardFilter" [(ngModel)]="identityCardFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="PhoneNoFilter">{{ l('PhoneNo') }}</label>
                                        <input type="text" class="form-control" id="PhoneNoFilter" name="phoneNoFilter"
                                            [(ngModel)]="phoneNoFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="EmailFilter">{{ l('Email') }}</label>
                                        <input type="email" class="form-control" id="EmailFilter" name="emailFilter"
                                            [(ngModel)]="emailFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="TitleFilter">{{ l('Title') }}</label>
                                        <input type="text" class="form-control" id="TitleFilter" name="titleFilter"
                                            [(ngModel)]="titleFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="CompanyNameFilter">{{ l('CompanyName') }}</label>
                                        <input type="text" class="form-control" id="CompanyNameFilter"
                                            name="companyNameFilter" [(ngModel)]="companyNameFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="OfficerToMeetFilter">{{ l('OfficerToMeet') }}</label>
                                        <input type="text" class="form-control" id="OfficerToMeetFilter"
                                            name="officerToMeetFilter" [(ngModel)]="officerToMeetFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="PurposeOfVisitFilter">{{ l('PurposeOfVisit') }}</label>
                                        <input type="text" class="form-control" id="PurposeOfVisitFilter"
                                            name="purposeOfVisitFilter" [(ngModel)]="purposeOfVisitFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="DepartmentFilter">{{ l('Department') }}</label>
                                        <input type="text" class="form-control" id="DepartmentFilter"
                                            name="departmentFilter" [(ngModel)]="departmentFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="TowerFilter">{{ l('Tower') }}</label>
                                        <input type="text" class="form-control" id="TowerFilter" name="towerFilter"
                                            [(ngModel)]="towerFilter" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="LevelFilter">{{ l('Level') }}</label>
                                        <input type="text" class="form-control" id="LevelFilter" name="levelFilter"
                                            [(ngModel)]="levelFilter" />
                                    </div>
                                </div>
                            <div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinAppointmentDateFilter">{{
                                            l("MinAppDateTimeFilter")
                                            }}</label>

                                        <div class="input-group">
                                            <input class="form-control m-input" id="MinAppDateTimeFilter"
                                                name="MinAppDateTimeFilter" type="datetime" bsDatepicker placeholder="{{
                                                    l('MinValue')
                                                }}" [(ngModel)]="
                                                minAppDateTimeFilter
                                                " />
                                            <span style="
                                                    line-height: 40px;
                                                    padding: 0 15px 0 15px;
                                                ">
                                                &mdash;
                                            </span>
                                            <input class="form-control m-input" id="MaxAppDateTimeFilter"
                                                name="MaxAppDateTimeFilter" type="datetime" bsDatepicker placeholder="{{
                                                    l('MaxValue')
                                                }}" [(ngModel)]="
                                                maxAppDateTimeFilter
                                                " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinAppointmentDateFilter">{{
                                            l("MinRegDateTimeFilter")
                                            }}</label>

                                        <div class="input-group">
                                            <input class="form-control m-input" id="MinRegDateTimeFilter"
                                                name="MinRegDateTimeFilter" type="datetime" bsDatepicker placeholder="{{
                                                    l('MinValue')
                                                }}" [(ngModel)]="
                                                minRegDateTimeFilter
                                                " />
                                            <span style="
                                                    line-height: 40px;
                                                    padding: 0 15px 0 15px;
                                                ">
                                                &mdash;
                                            </span>
                                            <input class="form-control m-input" id="MaxRegDateTimeFilter"
                                                name="MaxRegDateTimeFilter" type="datetime" bsDatepicker placeholder="{{
                                                    l('MaxValue')
                                                }}" [(ngModel)]="
                                                maxRegDateTimeFilter
                                                " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="StatusFilter">{{ l('Status') }}</label>
                                        <input type="text" class="form-control" id="StatusFilter" name="statusFilter"
                                            [(ngModel)]="statusFilter" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="my-3">
                                        <label for="AppRefNo">{{ l('AppRefNo') }}</label>
                                        <input type="text" class="form-control" id="AppRefNo" name="appRefNo"
                                            [(ngModel)]="appRefNoFilter" />
                                    </div>
                                </div>


                            </div>
                            <div class="row my-4">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                        <i class="fa fa-angle-down"></i>
                                        {{ l('ShowAdvancedFilters') }}
                                    </span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                        <i class="fa fa-angle-up"></i>
                                        {{ l('HideAdvancedFilters') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAppointments($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Appointments.Edit', 'Pages.Appointments.Delete')">
                                            {{ l('Actions') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="FullName">
                                            {{ l('FullName') }}
                                            <p-sortIcon field="appointment.fullName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="IdentityCard">
                                            {{ l('IdentityCard') }}
                                            <p-sortIcon field="appointment.identityCard"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="PhoneNo">
                                            {{ l('PhoneNo') }}
                                            <p-sortIcon field="appointment.phoneNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Email">
                                            {{ l('Email') }}
                                            <p-sortIcon field="appointment.email"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="PurposeOfVisit">
                                            {{ l('PurposeOfVisit') }}
                                            <p-sortIcon field="appointment.purposeOfVisit"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="CompanyName">
                                            {{ l('CompanyName') }}
                                            <p-sortIcon field="appointment.companyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="OfficerToMeet">
                                            {{ l('OfficerToMeet') }}
                                            <p-sortIcon field="appointment.officerToMeet"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Department">
                                            {{ l('Department') }}
                                            <p-sortIcon field="appointment.department"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Tower">
                                            {{ l('Tower') }}
                                            <p-sortIcon field="appointment.tower"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Level">
                                            {{ l('Level') }}
                                            <p-sortIcon field="appointment.level"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" pSortableColumn="AppDateTime">
                                            {{ l('AppDateTime') }}
                                            <p-sortIcon field="appointment.appDateTime" ate-date-format="DD MMMM YYYY"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="RegDateTime">
                                            {{ l('RegDateTime') }}
                                            <p-sortIcon field="appointment.creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Status">
                                            {{ l('Status') }}
                                            <p-sortIcon field="appointment.status"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="AppRefNo">
                                            {{ l('AppRefNo') }}
                                            <p-sortIcon field="appointment.appRefNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="checkInDateTime">
                                            {{ l('checkInDateTime') }}
                                            <p-sortIcon field="appointment.checkInDateTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="checkOutDateTime">
                                            {{ l('checkOutDateTime') }}
                                            <p-sortIcon field="appointment.checkOutDateTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Appointments.Edit', 'Pages.Appointments.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" class="dropdown-item"
                                                            (click)="viewAppointmentModal.show(record)">
                                                            {{ l('View') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.Appointments.Edit')"
                                                            class="dropdown-item"
                                                            (click)="createOrEditAppointmentModal.show(record.appointment.id)">
                                                            {{ l('Edit') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.Appointments.Delete')"
                                                            (click)="deleteAppointment(record.appointment)">
                                                            {{ l('Delete') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                            class="dropdown-item"
                                                            (click)="showHistory(record.appointment)">
                                                            {{ l('History') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('FullName') }}</span>
                                            {{ record.appointment.title + ' ' + record.appointment.fullName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('IdentityCard') }}</span>
                                            {{ record.appointment.identityCard }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('PhoneNo') }}</span>
                                            {{ record.appointment.phoneNo }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Email') }}</span>
                                            {{ record.appointment.email }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('PurposeOfVisit') }}</span>
                                            {{ record.appointment.purposeOfVisit }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('CompanyName') }}</span>
                                            {{ record.appointment.companyName }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('OfficerToMeet') }}</span>
                                            {{ record.appointment.officerToMeet }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Department') }}</span>
                                            {{ record.appointment.department }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Tower') }}</span>
                                            {{ record.appointment.tower }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Level') }}</span>
                                            {{ record.appointment.level }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('AppDateTime') }}</span>
                                            {{ record.appointment.appDateTime }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('RegDateTime') }}</span>
                                            {{ record.appointment.regDateTime }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Status') }}</span>
                                            <ng-container>
                                                {{ l('Enum:StatusType:' + record.appointment.status ) }}
                                            </ng-container>
                                        </td>

                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('AppRefNo') }}</span>
                                            {{ record.appointment.appRefNo }}
                                        </td>
                                        <td *ngIf="isStatusRegistered" style="width: 150px" >
                                            <span class="p-column-title">{{ l('checkInDateTime') }}</span>
                                            {{record.appointment.checkInDateTime }}
                                        </td>
                                        <td style="width: 150px" >
                                            <span class="p-column-title">{{ l('checkOutDateTime') }}</span>
                                            {{ record.appointment.checkOutDateTime }}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAppointments($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditAppointmentModal #createOrEditAppointmentModal (modalSave)="getAppointments()">
        </createOrEditAppointmentModal>
        <viewAppointmentModal #viewAppointmentModal></viewAppointmentModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>