.default-layout-page {
    margin: 30px;
    padding: 30px;
}

.card-header {
    align-self: center;
}

// .card-body div {
//     display: flex;
//     align-items: center !important;
//     justify-content: center !important;
//     justify-items: center !important;
// }

.subtitle {
    font-weight: lighter !important;
}

.subtitle-2 {
    font-weight: lighter !important;
    font-style: italic !important;
}

.data {
    font-weight: lighter !important;
}

.title-data {
    font-weight: bold !important;
}

.bg-custom-1 {
    background-color: #ffffff !important;
}

.container-svg {
    position: relative !important;
    height: 300px;
    width: 300px;
    padding: 15px;
    margin: 15px;
}

.referral-number {
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 300;
}

.card .card-body {
    display: flex !important;
    flex-direction: column;
}

//web view
@media screen and (min-width: 1024px) {
    
}

//mobile view
@media screen and (max-device-width: 640px) {}