<div class="default-layout-page">
    <div class="card card-custom bg-custom-1">
        <div class="card-header">
            <div class="card-title">
                {{ l('AppointmentDetails') }}
            </div>
        </div>
        <div class="card-body align-items-center">
            <div>
                <div class="subtitle text-center">
                    {{ l('Message1') }}
                </div>
                <div class="lead">
                    <div class="title-data text-center pt-20 pb-10">
                        {{ l('AppRefNo') }}
                    </div>
                </div>
                <div class="lead">
                    <div class="title-date text-center pb-10 pt-0">
                        #{{ item.appointment.appRefNo }}
                    </div>
                </div>
            </div>
            <!-- <div class="subtitle text-center">
                *This referral number has been sent to your e-mail
            </div> -->
            <div>
                <div class="title-data text-center p-5">
                    {{ l('AppDateTime') }}
                </div>
                <div class="data text-center p-5">
                    {{ item.appointment.appDateTime }}
                </div>
            </div>
            <div>
                <div class="title-data text-center p-5">
                    {{ l('RegDateTime') }} :
                </div>
                <div class="data text-center p-5">
                    {{ reg }}
                </div>
            </div>
            <div class="subtitle-2 text-center mt-15 mb-0">
                {{ l('Message2') }}
            </div>
        </div>
    </div>
</div>