<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">

            </h4>
        </div>
        <div>
            <h3 style="text-align:center ;">Use the referral number to get your
                access card at the counter reception</h3>
        </div>
        <div style="text-align:center ;">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h6 style="text-align:center ;">{{ l('RefNo') }} :</h6>
                        {{ item.appointment.appRefNo }}
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center ;">
            *This referral number has been sent to your e-mail
        </div>
        <div style="text-align:center ;" class="modal-body">
            <div class="row">
                <div class="col-6 mb-3">
                    <!-- <h6>{{ l('AppDateTime') }} :</h6>
                    {{  }} -->
                </div>
            </div>
        </div>
        <div class="modal-body" style="text-align:center ;">
            <div class="row">
                <div class="col-6 mb-3">
                    <!-- <h6>{{ l('RegDateTime') }} :</h6>
                    {{  }} -->
                </div>
            </div>
        </div>
        <div style="text-align:center ;">
            Visitor can check-out at the receptionist by giving out
            your referral number or access card siri number.
        </div>
        <div>
            <app-PortalFooter></app-PortalFooter>
        </div>
    </div>
</div>