<div id="portal_content">
    <div class="card card-custom gutter-b">
        <div class="card-body align-items-center">
            <!-- Expired link for cancel-->
            <div class="d-flex flex-column align-items-center" *ngIf="!isExpired && action == 'Cancel'">
                <div class="card-header">
                    <div class="card-title text-center" style="color: red;">
                        {{l("CancelLinkExpiredTitle")}}
                    </div>
                </div>
                <div class="card-body align-items-center">
                    <div class="row justify-content-center text-center">
                        Dear {{ appointment.appointment.title + ' ' + appointment.appointment.fullName }} / {{
                        appointment.appointment.officerToMeet }}, </div>
                    <div class="row justify-content-center text-center">
                        {{l("CancelLinkExpiredContent1")}}
                    </div>
                </div>
                <!-- <br> -->
            </div>

            <!-- Result Appointment for cancel-->
            <div class="d-flex flex-column align-items-center" *ngIf="isExpired && action == 'Cancel'">
                <div class="card-header">
                    <div class="card-title text-center">
                        {{ l('AppointmentCancellation') }}
                    </div>
                </div>
                <div class="card-body align-items-center">
                    <div class="p-5 m-5">
                        <div class="message row justify-content-center text-center">
                            Dear {{ appointment.appointment.title + ' ' + appointment.appointment.fullName }} / {{
                            appointment.appointment.officerToMeet }},
                            {{l("AppointmentCancellationContent2")}}
                        </div>
                    </div>
                    <div class="containerMessage">
                        <div class="py-2 my-2">
                            <div class="messageImportant row justify-content-center text-center">
                                {{l('AppRefNo')}}
                            </div>
                        </div>
                        <div class="py-2 my-2">
                            <div class="messageImportant row justify-content-center text-center">
                                #{{ appointment.appointment.appRefNo}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger" (click)="cancelAppointment(appointment.appointment.id)">
                        {{l('Cancel')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-appointment-reschedule #rescheduleModal (modalSave)="closeReschedule()"></app-appointment-reschedule>
<app-portal-modal-message #portalModalMessage (modalSave)="redirectToNext()"></app-portal-modal-message> -->