<div bsModal #CheckOut="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="CheckOut" aria-hidden="true"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ l('Details') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <hr>
                </div>
                <div>
                    <h3 style="text-align:center ;">Confirm Check Out</h3>
                </div>
                <div class="modal-body">
                    <hr>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-primary blue" (click)="change_Status_Register_To_Out()">
                        {{ l('CheckOut') }}
                    </button>
                    <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                        {{ l('Close') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>