.form-control:focus-visible {
    border-color: rgba(232, 103, 36, 1) !important;
}

.container mt-5 {
    color: rgba(232, 103, 36, 1);
}

.default-layout-page {
    margin: 30px;
    padding: 0px;
}

.bg-custom-1 {
    background-color: #ffffff !important;
}

.bg-custom-2 {
    background-color: #ffffff !important;
}

.space-between-card-form {
    margin: 20px;
}

.form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    max-width: max-content;
    width: max-content;
    align-items: center;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid rgb(225, 221, 221);
    display: flex;
    border-radius: 5px;
    height: 34px;
    /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    background-position-x: 100%; */

    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.75rem auto;
}

h4 {
    border-bottom: 2px solid rgb(57, 50, 50);
    display: inline;
}

.card-visitor-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
}

.card-visitor-details .card-visitor-details-unique-element {
    display: flex;
    flex-direction: row;

    div {
        display: flex;
        flex-direction: column;
        flex-basis: max-content;
        // label {
        //     width: 80px;
        // }
    }
}

.card-visitor-details .card-visitor-details-element {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
        display: flex;
        flex-direction: column;
        flex-basis: max-content;
        // label {
        //     width: 120px;
        // }
    }
}

//web view
@media screen and (min-width: 1024px) {
    .side_to_side {
        display: flex !important;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
        align-items: center;

        .my-3 {
            display: flex;
            flex-direction: row;

            .form-label {
                width: 120px;
                max-width: 300px;
            }
        }

        .my-3>div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 6;
        }
    }

    .side_normal {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .my-3 {
            display: flex;
            flex-direction: row;

            .form-label {
                width: 320px;
                max-width: 500px;
            }
        }

        .my-3>div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-grow: 6;
        }
    }
}

//mobile view
@media screen and (max-device-width: 640px) {}