<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #appointmentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="appointment.id">{{ l('EditAppointment') }}</span>
                        <span *ngIf="!appointment.id">{{ l('CreateNewAppointment') }}</span>
                    </h4>

                </div>

                <div class="modal-body">
                    <hr>
                </div>
                <div>
                    <h3 style="text-align:center ;">Visitor Details</h3>
                </div>
                <div class="modal-body">
                    <hr>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_FullName">{{ l('FullName') }} *</label>
                        <input type="text" #Appointment_FullName="ngModel" id="Appointment_FullName" class="form-control"
                            [(ngModel)]="appointment.fullName" name="FullName" required />
                        <validation-messages [formCtrl]="Appointment_FullName"></validation-messages>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_Title">{{ l('Title') }} *</label>
                        <select #Appointment_Title="ngModel" id="Appointment_Title" [(ngModel)]="appointment.title"
                            name="Title" class="form-control">
                            <ng-container *ngFor="let t of arrTitle">
                                <option name="Title" *ngFor="let tit of t" [ngValue]="tit.title.visitorTitle">
                                    {{tit.title.visitorTitle}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_IdentityCard">{{ l('IdentityCard') }} *</label>
                        <input type="text" #Appointment_IdentityCard="ngModel" id="Appointment_IdentityCard"
                            class="form-control" [(ngModel)]="appointment.identityCard" name="IdentityCard" required />
                        <validation-messages [formCtrl]="Appointment_IdentityCard"></validation-messages>
                    </div>
                </div>


                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_PhoneNo">{{ l('PhoneNo') }} *</label>
                        <input type="text" #Appointment_PhoneNo="ngModel" id="Appointment_PhoneNo" class="form-control"
                            [(ngModel)]="appointment.phoneNo" name="PhoneNo" required />
                        <validation-messages [formCtrl]="Appointment_PhoneNo"></validation-messages>
                    </div>
                </div>


                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_Email">{{ l('Email') }} *</label>
                        <input type="text" #Appointment_Email="ngModel" id="Appointment_Email" class="form-control"
                            [(ngModel)]="appointment.email" name="Email" required />
                        <validation-messages [formCtrl]="Appointment_Email"></validation-messages>
                    </div>
                </div>
                <div class="modal-body">
                    <hr>
                </div>
                <div>
                    <h3 style="text-align:center ;">Appointment Details</h3>
                </div>
                <div class="modal-body">
                    <hr>
                </div>


                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_AppDateTime">{{ l('AppDateTime') }} *</label>
                        <input #Appointment_AppDateTime="ngModel" id="Appointment_AppDateTime" class="form-control"
                            [(ngModel)]="appointment.appDateTime" name="AppDateTime" type="datetime-local" />
                        <validation-messages [formCtrl]="Appointment_AppDateTime"></validation-messages>
                    </div>
                </div>


                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_OfficerToMeet">{{ l('OfficerToMeet') }}
                        </label>
                        <input type="text" #Appointment_OfficerToMeet="ngModel" id="Appointment_OfficerToMeet"
                            class="form-control" [(ngModel)]="appointment.officerToMeet" name="OfficerToMeet" required />
                        <validation-messages [formCtrl]="Appointment_OfficerToMeet"></validation-messages>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_PurposeOfVisit">{{ l('PurposeOfVisit') }}
                        </label>
                        <select #Appointment_PurposeOfVisit="ngModel" id="Appointment_PurposeOfVisit"
                            [(ngModel)]="appointment.purposeOfVisit" name="PurposeOfVisit" class="form-control">
                            <ng-container *ngFor="let p of arrPOV">
                                <option name="PurposeOfVisit" *ngFor="let POV of p"
                                    [ngValue]="POV.purposeOfVisit.purposeOfVisitApp">
                                    {{POV.purposeOfVisit.purposeOfVisitApp}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_CompanyName">{{ l('CompanyName') }} </label>
                        <select #Appointment_CompanyName="ngModel" id="Appointment_CompanyName"
                            [(ngModel)]="appointment.companyName" name="CompanyName" class="form-control">
                            <ng-container *ngFor="let c of arrCompany">
                                <option name="CompanyName" *ngFor="let comp of c" [ngValue]="comp.company.companyName">
                                    {{comp.company.companyName}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_Department">{{ l('Department') }} </label>
                        <select #Appointment_Department="ngModel" id="Appointment_Department"
                            [(ngModel)]="appointment.department" name="Department" class="form-control">
                            <ng-container *ngFor="let d of arrDepartment">
                                <option name="Department" *ngFor="let dep of d" [ngValue]="dep.department.departmentName">
                                    {{dep.department.departmentName}}
                                </option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_Tower">{{ l('Tower') }} </label>
                        <select #Appointment_Tower="ngModel" id="Appointment_Tower" [(ngModel)]="appointment.tower"
                            name="Tower" class="form-control">
                            <ng-container *ngFor="let t of arrTower">
                                <option name="Tower" *ngFor="let tower of t" [value]="tower.tower.towerBankRakyat">
                                    {{tower.tower.towerBankRakyat}}
                                </option>
                            </ng-container>
                        </select>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="Appointment_Level">{{ l('Level') }} </label>
                        <select #Appointment_Level="ngModel" id="Appointment_Level" [(ngModel)]="appointment.level"
                            name="Level" class="form-control">
                            <ng-container *ngFor="let l of arrLevel">
                                <option name="Level" *ngFor="let level of l" [value]="level.level.levelBankRakyat">
                                    {{level.level.levelBankRakyat}}
                                </option>
                            </ng-container>
                        </select>
                    </div>
                </div>

                <!-- <div class="modal-body">
                        <div class="my-3">
                            <label class="form-label" for="DefaultFileUploadFileInput">Default file uploader</label>
                            <p-fileUpload multiple="multiple" id="DefaultFileUploadFileInput"
                                name="DefaultFileUploadFileInput[]" [url]="uploadUrl" accept="image/*" maxFileSize="1000000"
                                (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div> -->

                <div class="modal-body">
                    <label class="form-label" for="UploadPicture">{{ 'ChangeProfilePicture' | localize }} *</label>
                    <div class="my-3">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" id="uploadPicture" name="uploadPicture"
                                    (change)="fileChangeEvent($event)" required /> <label
                                    class="custom-file-label" #uploadPictureInputLabel for="uploadPicture">
                                    <!-- {{ 'ChooseAFile' | localize }} --> </label>
                            </div>
                        </div>
                        <br>
                        <div *ngIf="appointment.imageId"> <!-- display when appointment.imageId is not null -->
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6>Uploaded {{ l('Picture') }} *:</h6>
                                    <img [src]="image" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="uploadedFile">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4" [resizeToWidth]="128" format="png"
                            (imageCropped)="imageCroppedFile($event)"></image-cropper>
                    </div>
                    <button type="button" class="btn btn-primary blue" name="upload" (click)="upload()">Upload</button>
                </div>

                <div *ngIf="appointment.id">
                    <div class="modal-body">
                        <div class="my-3">
                            <label class="form-label" for="Appointment_Status">{{ l('Status') }} *</label>
                            <select #Appointment_Status="ngModel" id="Appointment_Status" [(ngModel)]="appointment.status"
                                name="Status" class="form-control">
                                <option [value]="stat" *ngFor="let stat of statusType">
                                    {{ stat }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary white">
                        <i class="fa fa-reset"></i>
                        <span>{{ l('Reset') }}</span>
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!appointmentForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>