<div class="d-flex flex-column-reverse flex-lg-row justify-content-between" id="kt_footer">
  <div class="footer-left d-flex justify-content-center align-items-center">
    <div class="mini-logo">
      <img src="/assets/bkrm/icon-islamicbnk.png" alt="islamicbnk">
    </div>
    <div class="links-tnc">
      <a href="https://www.bankrakyat.com.my/c/home/terms_conditions-23" target="_blank">{{l("TermsConditions")}}</a>
      <span class="barV">|</span>
      <a href="https://www.bankrakyat.com.my/c/home/disclaimer-24" target="_blank">{{l("Disclaimer")}}</a> <span
        class="barV">|</span>
      <a href="https://www.bankrakyat.com.my/c/home/privacy_policy-25" target="_blank">{{l("PrivacyPolicy")}}</a> <span
        class="barV">|</span>
      <a href="https://www.bankrakyat.com.my/c/home/security_policy-26" target="_blank">{{l("SecurityPolicy")}}</a>
      <span class="barV">|</span>
      <!-- <a href="https://www.bankrakyat.com.my/c/home/sitemap" target="_blank">Sitemap</a> | -->
      <a href="https://www.bankrakyat.com.my/c/about/customer_service-23" target="_blank">{{l("CustomerService")}}</a>
    </div>
  </div>
  <div class="footer-right d-flex  justify-content-lg-start justify-content-center align-items-center">
    <div class="triangle">

    </div>
    <div class="link-social">
      Follow Us
      <a href="https://www.facebook.com/myBANKRAKYAT" target="_blank"><i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/mybankrakyat" target="_blank"><i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/mybankrakyat/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/user/myBANKRAKYAT" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>